<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <br />
      <a class="sidebar-nav-item" href="#Create and Setup Project in Eclipse">Create and Setup Project</a>  
      <a class="sidebar-nav-item" href="#Develop a Web Service">Develop a Web Service</a>  
      <a class="sidebar-nav-item" href="#Run and Test the Web Service">Run and Test the Web Service</a>
	  <a class="sidebar-nav-item" href="#Create Web Service with JSON Request/Response">Create with JSON Request/Response</a>
	  <a class="sidebar-nav-item" href="#Tools and Technologies Used">Tools and Technologies Used</a> 
      <br /><br /><br />
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/zipball/master">Download Zip</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">View Project on Github</a>
    </nav>

    <p>This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</p>
  </div>
</div>
